{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block style %}
<style>
    .mt-4 {
        color: #0A0F24;
    }
    
    .card {
        background: #FDF4EC;
        border: 2px solid #0A0F24;
    }
    
    .table {
        width: 100%;
        border: 2px solid #0A0F24;
        background: #FAE3CF;
        margin-top: 2vh;
    }
    
    .table th {
        background: #FAE3CF;
    }
    
    .table td {
        background: #FDF4EC;
    }
    
    .right-aligned {
        text-align: right;
    }
    
    .btn {
        border: none;
        width: 23vh;
        background: #BB2233;
    }
    
    .btn:hover {
        background: #0A0F24;
    }
    
    .btn:active {
        background: #0A0F24;
    }
    
    .back-button {
        margin: 2vh;
        width: 8%;
    }
    
    .sum-btn {
        width: 21%;
        margin: 5vh 2vh 0 2vh;
    }
</style>
{% endblock %}

{% block back %}
    <div>
        <a href="{{ url_for('logout') }}" class="back-button btn btn-primary">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Companies Applied</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-dismissible fade show">
                        {% for ctgry, message in messages %}
                            <div class="alert alert-{{ ctgry }}">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Company ID</th>
                        <th>Company</th>
                        <th class="right-aligned">Quota</th>
                        <th class="right-aligned">GPA Threshold</th>
                        <th class="right-aligned"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if company_list %}
                        {% for company in company_list %}
                            <tr>
                                <td>{{ company.cid }}</td>
                                <td>{{ company.cname }}</td>
                                <td class="right-aligned">{{ company.quota }}</td>
                                <td class="right-aligned">{{ company.gpa_threshold }}</td>
                                <td class="right-aligned">
                                    <form method="POST" action="{{ url_for('cancel_application') }}">
                                        <input type="hidden" name="company_id" value="{{ company.cid }}">
                                        <button type="submit" class="btn btn-danger">Cancel Application</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No applications yet</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <h4 class="mt-3">Apply to a Company</h4>
                            <a href="{{ url_for('apply_for_new_internship') }}" class="btn btn-primary mb-4">Make New Application</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="right-aligned">
        <a href="{{ url_for('summary') }}" class="sum-btn btn btn-primary">See Summary Page</a>
    </div>
{% endblock %}
